<div class="main">
    <mat-expansion-panel class="card mat-elevation-z8" [expanded]="step === 0">
        <mat-expansion-panel-header>
            New Test Information
        </mat-expansion-panel-header>
        <form [formGroup]="newTestForm" (ngSubmit)="onSubmit()">
            <div class="row mt-3 p-2">
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Zone/Branch</mat-label>
                    <mat-select formControlName="serBranchId">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let branch of branchList" value="{{branch.id}}">
                            {{branch.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Union Council</mat-label>
                    <mat-select formControlName="serLocationId">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let UC of unionCouncilList" value="{{UC.id}}">
                            {{UC.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Testing Agency</mat-label>
                    <mat-select formControlName="txtTestingAgency">
                        <mat-option value="" disabled selected hidden>Choose...</mat-option>
                        <mat-option value=""></mat-option>
                        <mat-option value="WSSP">WSSP</mat-option>
                        <mat-option value="PCSIR WR">PCSIR WR</mat-option>
                        <mat-option value="Others">Others</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Testing Type</mat-label>
                    <!-- <mat-select formControlName="txtTestingType">
                        <mat-option value="" disabled selected hidden>Choose...</mat-option>
                        <mat-option value=""></mat-option>
                        <mat-option value="Chemical">Chemical</mat-option>
                        <mat-option value="Biological">Biological</mat-option>
                        <mat-option value="WR">Chlorine</mat-option>
                    </mat-select> -->
                    <mat-select [formControl]="newTestForm.controls.testingType" multiple>
                        <mat-option *ngFor="let testingType of toppingList" [value]="testingType">{{testingType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Sampling Date</mat-label>
                    <input matInput [matDatepicker]="dp13" formControlName="txtSamplingDate" readonly>
                    <mat-datepicker-toggle matSuffix (click)="clearSamplingDate()">
                        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker-toggle matSuffix [for]="dp13"></mat-datepicker-toggle>
                    <mat-datepicker #dp13></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Asset Type</mat-label>
                    <mat-select formControlName="txtAssetType">
                        <mat-option value="" disabled selected hidden>Choose...</mat-option>
                        <mat-option value=""></mat-option>
                        <mat-option value="Water Tanker">Water Tanker</mat-option>
                        <mat-option value="Tube Well">Tube Well</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Sampling Point</mat-label>
                    <mat-select formControlName="txtSamplingPoint">
                        <mat-option value="" disabled selected hidden>Choose...</mat-option>
                        <mat-option value=""></mat-option>
                        <mat-option value="Source">Source</mat-option>
                        <mat-option value="Water Supply Line">Water Supply Line</mat-option>
                        <mat-option value="Consumer Tap">Consumer Tap</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="newTestForm.controls.txtSamplingPoint.value === 'Consumer Tap'"
                    class="form-group col-md-3" appearance="outline">
                    <mat-label>Consumer No</mat-label>
                    <input matInput type="number" formControlName="numConsumerNo" />
                </mat-form-field>
                <mat-form-field *ngIf="newTestForm.controls.txtSamplingPoint.value === 'Consumer Tap'"
                    class="form-group col-md-3" appearance="outline">
                    <mat-label>Consumer Name</mat-label>
                    <input matInput formControlName="txtConsumerName" />
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="txtAddress" />
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Street Name</mat-label>
                    <input matInput formControlName="txtStreetName" />
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Consumer Type</mat-label>
                    <mat-select formControlName="txtConsumerType">
                        <mat-option value="" disabled selected hidden>Choose...</mat-option>
                        <mat-option value=""></mat-option>
                        <mat-option value="Domestic">Domestic</mat-option>
                        <mat-option value="Commercial">Commercial</mat-option>
                        <mat-option value="Acquifer">Aquifer</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Longitude</mat-label>
                    <input matInput type="number" formControlName="numLongitude" />
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input matInput type="number" formControlName="numLatitude" />
                </mat-form-field>  -->
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Test Result</mat-label>
                    <mat-select formControlName="txtTestResult">
                        <mat-option value="" disabled selected hidden>Choose...</mat-option>
                        <mat-option value=""></mat-option>
                        <mat-option value="Fit">Fit</mat-option>
                        <mat-option value="Un Fit">Un Fit</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Result Submission Date</mat-label>
                    <input matInput [matDatepicker]="dp14" formControlName="txtResultSubmissionDate" readonly>
                    <mat-datepicker-toggle matSuffix (click)="ResultSubmissionDate()">
                        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker-toggle matSuffix [for]="dp14"></mat-datepicker-toggle>
                    <mat-datepicker #dp14></mat-datepicker>
                </mat-form-field>
                <div class="col-md-5">
                    <label class="btn btn-default">
                        <input type="file" multiple="true" (change)="selectMutipleFiles($event)" />
                    </label>    
                    <!-- <button mat-raised-button type="button" class="btn btn-success" [disabled]="!selectedMutipleFiles" (click)="uploadFiles()">
                        Upload
                    </button> -->
                </div>

                <!-- <div class="col-md-3 pt-2 pl-3">
                    <button mat-raised-button type="button" class="btn btnChoose" (click)="fileInput.click()">
                        <mat-icon>insert_drive_file</mat-icon>Result Attachment
                    </button>
                    <input style="display: none" #attachments type="file" (change)="onFileChanged($event)" #fileInput
                        multiple="true">
                </div> -->

                <div class="col-sm-3 pt-2" *ngFor="let selected of listOfFiles;let index = index">
                    <mat-chip-list>
                        <mat-chip selected>{{selected}}
                            <mat-icon class="pt-1 pl-2" style="cursor: pointer; color: white;"
                                (click)="removeSelectedFile(index)">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <mat-form-field class="form-group col-md-12" appearance="outline">
                    <mat-label>Comment/Remarks</mat-label>
                    <textarea matInput formControlName="txtComments"></textarea>
                </mat-form-field>

            </div>
            <!-- <pre>{{newTestForm.value | json}}</pre> -->
            <div class="row mb-1">
                <div class="col d-flex justify-content-end">
                    <button mat-raised-button type="submit">
                        <span class="material-icons pb-1 pr-1">save</span>Submit
                    </button>
                    <button mat-raised-button [routerLink]="['/waterSupplyManagement/waterTesting']" class=" ml-2">
                        <span class="material-icons pb-1 pr-1">close</span>Close
                    </button>
                </div>
            </div>
        </form>
        <!-- <div class="col-md-5">
            <label class="btn btn-default">
                <input type="file" multiple="true" (change)="selectMutipleFiles($event)" />
            </label>    
            <button mat-raised-button type="button" class="btn btn-success" (click)="uploadFiles()">
                Upload
            </button>
        </div> -->
    </mat-expansion-panel>
</div>