<div class="main">
    <mat-expansion-panel class="card mat-elevation-z8" [expanded]="step === 0">
        <mat-expansion-panel-header>
            Search Consumer
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
            <div class="row mt-3">
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Customer Id</mat-label>
                    <input matInput formControlName="txtCustomerCode"/>
                </mat-form-field>
                <span class="col-md-6"></span>
                <div class="col-md-3 pt-2" style="text-align: end;">
                    <button type="submit" mat-raised-button [disabled]="!searchForm.valid">
                        <span class="material-icons pb-1 pr-1">search</span>Search</button>
                </div>
                <!-- <span class="col-md-6"></span>
            <div class="row mb-2">
                <div class="col-md-3 pt-2" style="text-align: end;">
                    <button type="submit" mat-raised-button [disabled]="!searchForm.valid">
                        <span class="material-icons pb-1 pr-1">search</span>Search</button>
                </div> -->
            </div>
       
        </form>

    </mat-expansion-panel>
    <mat-card  class="card mat-elevation-z8  p-0" *ngIf="show">
        <mat-card-header class="matCardHeader">
            Consumer Information
        </mat-card-header>
            <!-- <div class="basicinfo-header">
                <b><span>{{ appLabelConstants.AUTHORITY }}</span>&nbsp;<span>{{ appLabelConstants.SUB_AUTHORITY }}</span>&nbsp;<span>{{ appLabelConstants.SUB_SUB_AUTHORITY }}</span></b>
              </div> -->
              <mat-card-content class="m-0" style="justify-content: center !important; padding: 25px 0px 0px 30px;">

                <div class="row col-md-12">
                    <table class="testTable">
                        <tr>
                            <th><h6>Zone/Branch:</h6></th>
                            <td>{{ suspendInfo.branch.name }}</td>
                        </tr>
                        <tr>
                            <th><h6>Union Council:</h6></th>
                            <td>{{ suspendInfo?.unionCouncil.name }}</td>
                            <th><h6>Connection Type:</h6></th>
                            <td>{{ suspendInfo?.txtConnectionType }}</td>
                        </tr>
                        <tr>
                            <th><h6>Consumer ID:</h6></th>
                            <td>{{ suspendInfo?.customerId }}</td>
                            <th><h6>Bussiness Name:</h6></th>
                            <td>{{ suspendInfo?.txtBusinessName }}</td>
                        </tr>
                        <tr>
                            <th><h6>Cnic:</h6></th>
                            <td>{{ suspendInfo?.txtCnicNo }}</td>
                            <th><h6>NTN:</h6></th>
                            <td>{{ suspendInfo?.txtNtnNo }}</td>
                        </tr>
                        <tr>
                            <th><h6>STN:</h6></th>
                            <td>{{ suspendInfo?.txtStnNo }}</td>
                            <th><h6>Area:</h6></th>
                            <td>{{ suspendInfo?.txtArea }}</td>
                        </tr>
                        <tr>
                            <th><h6>Sector Mohallah:</h6></th>
                            <td>{{ suspendInfo?.txtMohallah }}</td>
                            <th><h6>House No:</h6></th>
                            <td>{{ suspendInfo?.txtHouseNo }}</td>
                        </tr>
                        <tr>
                            <th><h6>Street No:</h6></th>
                            <td>{{ suspendInfo?.txtStreetNo }}</td>
                            <th><h6>Cell No:</h6></th>
                            <td>{{ suspendInfo?.txtMobileNo }}</td>
                        </tr>
                        <tr>
                            <th><h6>Status</h6></th>
                            <td>{{ suspendInfo?.txtStatus }}</td>
                        </tr>
                    </table>
                </div>
            </mat-card-content> 
       
        <mat-card-actions class="mb-2">
            <div class="col d-flex justify-content-end mb-2">
                <button mat-raised-button (click)="openSuspendDialog()"><span class="material-icons pb-1 pr-1">leak_remove</span>Suspend</button>
                <button mat-raised-button class="ml-2" [routerLink]="['/billing/suspendConnection']">
                    <span class="material-icons pb-1 pr-1">close</span>Cancel</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>