<div class="main">
    <mat-card class="card mat-elevation-z8 m-0 p-0 pb-2">
        <mat-card-header class="matCardHeader">
            View Trip Sheet  
        </mat-card-header>
        <mat-card-content class="m-0" style="justify-content: center !important; padding: 25px 0px 0px 30px;">

            <div class="row col-md-12">
                <table class="testTable">                   
                    <tr>
                        <th><h6>Zone:</h6></th>
                        <td>A</td>
                        <th><h6>Union Council:</h6></th>
                        <td>B</td>
                    </tr>
                    <tr>
                        <th><h6>Date:</h6></th>
                        <td>12/03/2020</td>
                        <th><h6>Asset/Vehicle No:</h6></th>
                        <td>6756</td>
                    </tr>
                    <tr>
                        <th><h6>Asset/Vehicle Name:</h6></th>
                        <td>Honda</td>
                        <th><h6>Driver Name:</h6></th>
                        <td>Rehmooz</td>
                    </tr>
                    <tr>
                        <th><h6>Route No:</h6></th>
                        <td>34563</td>
                        <th><h6>Route Name:</h6></th>
                        <td>ABC</td>                       
                    </tr>
                    <tr>
                        <th><h6>Route Distance:</h6></th>
                        <td>12 km</td>
                        <th><h6>Distance Covered:</h6></th>
                        <td>10 km</td>                       
                    </tr>
                    <tr>
                        <th><h6>Trip No:</h6></th>
                        <td>32</td>
                        <th><h6>Vehicle Time Out:</h6></th>
                        <td>09:09 AM</td>                       
                    </tr>
                    <tr>
                        <th><h6>Odo Meter Out:</h6></th>
                        <td>6785812519365</td>
                        <th><h6>Vehicle Time In:</h6></th>
                        <td>5:30 PM</td>                       
                    </tr>
                    <tr>
                        <th><h6>Odo Meter In:</h6></th>
                        <td>6785812519377</td>
                        <th><h6>Total Distance:</h6></th>
                        <td>5:30 PM</td>                       
                    </tr>
                    <tr>
                        <th><h6>Total Load:</h6></th>
                        <td>5 tan</td>
                        <th><h6>Trip Date:</h6></th>
                        <td>20/04/2021</td>                       
                    </tr>   
                </table>
            </div>            
        </mat-card-content>
        <mat-card-actions class="mt-2 mb-2">
            <div class="col d-flex justify-content-end ">
                <button mat-raised-button class="ml-2 mr-2" [routerLink]="['/fleet/tripSheet']"><span class="material-icons pb-1 pr-1">close</span>Close</button>
            </div>
        </mat-card-actions> 
    </mat-card>
    
</div>