<div class="main">
  <mat-accordion class="mat-elevation-z8">
    <mat-expansion-panel class="mat-elevation-z8" [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        Monthly Factor value
      </mat-expansion-panel-header>
      <form [formGroup]="monthlyExpenseSheetForm" (ngSubmit)="onSubmit()">
        <div class="row mt-3"> 
<!--          
          <mat-form-field class="form-group col-md-3" appearance="outline">
            <mat-label>Main Head</mat-label>
            <mat-select formControlName="txt_main_head" (selectionChange)="mainHeadFilter($event.value)">
              <mat-option value=""></mat-option>
              <mat-option *ngFor="let UC of selectStatusList" value="{{ UC.txt_main_head }}">
                {{ UC.txt_main_head }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
<!-- 
          <mat-form-field class="form-group col-md-3" appearance="outline">
            <mat-label>Sub Head</mat-label>
            <mat-select formControlName="txt_sub_head" (selectionChange)="mainHeadFilter($event.value)">
              <mat-option value=""></mat-option>
              <mat-option *ngFor="let UC of selectStatusList" value="{{ UC.txt_sub_head }}">
                {{ UC.txt_sub_head }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
       
            <mat-form-field class="form-group col-md-3" appearance="outline">
                <mat-label>Period</mat-label>
                <input matInput [matDatepicker]="dp" formControlName="txtMonth">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="multi-year"
                                (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)"
                                panelClass="example-month-picker">
                </mat-datepicker>                 
              </mat-form-field>                           
        </div>
        <div class="row mb-2">
          <div class="col pr-3 d-flex justify-content-end">
            <button mat-raised-button type="submit"><span class="material-icons pb-1 pr-1">search</span>Search
            </button>
            <button mat-raised-button class="ml-2" ><mat-icon class="material-icons pr-1">refresh</mat-icon>Reset</button>
          </div>
        </div>
      </form>

    </mat-expansion-panel>
  </mat-accordion>
  <mat-card class="mat-elevation-z8">
      <div class="row">
          <mat-form-field class="form-group col-md-3" appearance="fill">
              <mat-label>Columns</mat-label>
              <mat-select [formControl]="selection" multiple>               
                <mat-option *ngFor="let column of tableColumn" [value]="column" (click)="selectingColumns()">
                  {{column | formControl}}
                </mat-option>
              </mat-select>
            </mat-form-field>             
      </div>
    <mat-card-content class="mat-elevation-z2 mt-2 mb-1">
        <table mat-table #waterRunningTable  matTableExporter  #exporter="matTableExporter" [dataSource]="monthlyExpenseSheet"  matSort style="border: 1px solid #bababa;">
          
          <!-- <ng-container matColumnDef="sr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let element"  id="numericValues" class="tableNumericValue">
              {{element.serExpanseDetailId}}
            </td>
          </ng-container> -->
          <ng-container matColumnDef="sr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
            <td mat-cell *matCellDef="let element ; let i=index " class="tableNumericValue"> {{i+1}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
          <ng-container matColumnDef="mainHead">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="txt_main_head"> Factor Code</th>
            <td mat-cell *matCellDef="let element" id="numericValues" >
              {{element.txt_factor_code}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
        <ng-container matColumnDef="subHead">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="txt_sub_head"> Factor Name</th>
          <td mat-cell *matCellDef="let element">
            {{element.txt_factor_name}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  
         
            <ng-container matColumnDef="headOffice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="num_branch_ho_expense"> Head Office</th>
              <td mat-cell *matCellDef="let element"  class="tableNumericValue">
                {{element.num_branch_ho_expense}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
            <ng-container matColumnDef="zoneA">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="num_branch_a_expense"> Zone A </th>
                <td mat-cell *matCellDef="let element"  class="tableNumericValue">
                  {{element.num_branch_a_expense}}
                </td>
                <td mat-footer-cell *matFooterCellDef>{{total_a_expense}} </td>
              
            </ng-container>
            <ng-container matColumnDef="zoneB">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="num_branch_b_expense"> Zone B</th>
                <td mat-cell *matCellDef="let element"  class="tableNumericValue">
                  {{element.num_branch_b_expense}}
                </td>
                <td mat-footer-cell *matFooterCellDef>{{total_b_expense}} </td>
            </ng-container>

            <ng-container matColumnDef="zoneC">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="num_branch_c_expense"> Zone C</th>
                <td mat-cell *matCellDef="let element"  class="tableNumericValue">
                  {{element.num_branch_c_expense}}
                  </td>
                  <td mat-footer-cell *matFooterCellDef>{{total_c_expense}} </td>
            </ng-container>

            <ng-container matColumnDef="zoneD">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="num_branch_d_expense"> Zone D  </th>
                <td mat-cell *matCellDef="let element"  class="tableNumericValue">
                  {{element.num_branch_d_expense}}
                  </td>
                  <td mat-footer-cell *matFooterCellDef>{{total_d_expense}} </td>
            </ng-container> 
            <ng-container matColumnDef="totalOfAllZones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="num_branch_d_expense"> Total  </th>
              <td mat-cell *matCellDef="let element"  class="tableNumericValue">
                {{element.num_branch_a_expense+element.num_branch_b_expense+element.num_branch_c_expense+element.num_branch_d_expense}}
                </td>
                <td mat-footer-cell *matFooterCellDef>{{total_d_expense}} </td>
          </ng-container> 
            <tr mat-header-row *matHeaderRowDef="monthlyExpenseSheetColumn"></tr>
            
            
            <tr mat-row *matRowDef="let row;  columns: monthlyExpenseSheetColumn;
            let entry"[ngClass]="{'highlight':entry.txt_main_head === 'HR Expense','miscExpense':entry.txt_main_head === 'Misc Expenses','mAndRExpense':entry.txt_main_head === 'M & R Expense',
            'POL':entry.txt_main_head === 'POL','utilityExpense':entry.txt_main_head === 'Utility Expense','rent':entry.txt_main_head === 'Rent'  
          }"
            >
            </tr>
            <tr mat-footer-row *matFooterRowDef="monthlyExpenseSheetColumn" class="example-first-footer-row"></tr>
        </table>
    </mat-card-content>
        <!-- <mat-paginator #monthlyExpenseSheetPaginator [pageSizeOptions]="[10, 20,50]" showFirstLastButtons></mat-paginator> -->
        <button mat-raised-button mat-flat-button (click)="downloadPDF()"><span class="material-icons pb-1 pr-1">download</span>Download
          M & E List</button>
          <button class="ml-3" mat-raised-button mat-flat-button (click)="exporter.exportTable('xlsx', {fileName:'M & E ', sheet: 'sheet'})">
                  <span class="material-icons pb-1 pr-1">download</span>Download Excel
              </button>
      </mat-card>
</div>
<!-- [routerLink]="['/operationManagement/WaterProductionAndUnitConsumed/viewWaterProductionAndUnitConsumed',element.serProductId]" -->