<div class="main">

    <mat-expansion-panel class="mat-elevation-z4" [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            Search
        </mat-expansion-panel-header>
        <form [formGroup]="searchform">
            <div class="row p-0 mt-3">
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Zone/Branch</mat-label>
                    <mat-select formControlName="branch">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let branch of branchList" value="{{branch.id}}">
                            {{branch.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Union Council</mat-label>
                    <mat-select formControlName="unionCouncil">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let  UC of getUC" value="{{ UC.id }}">
                            {{ UC.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="dp1" formControlName="dteRdf" readonly>
                    <mat-datepicker-toggle matSuffix (click)="clearTo()">
                        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Combustible Segregated Recieved</mat-label>
                    <input matInput formControlName="txtSegregatedRecieved" />
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Vendor</mat-label>
                    <input matInput formControlName="txtVendor" />
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <div class="col d-flex justify-content-end">
                    <button mat-raised-button (click)="onSearch()">
                        <span class="material-icons">search</span>
                        Search
                    </button>
                    <button mat-raised-button class="ml-2" (click)="onReset()">
                        <span class="material-icons">refresh</span>
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </mat-expansion-panel>
    <mat-card class="mat-elevation-z4">
        <div class="row">
            <mat-form-field class="col-md-3 text-align-start" appearance="fill">
                <mat-label>Columns</mat-label>
                <mat-select [formControl]="selection" multiple>
                  <mat-option *ngFor="let column of tableColumn" [value]="column" (click)="selectingColumns()">
                    {{column | formControl}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <mat-card-header class="form-group col-md-9">
                <button mat-raised-button class="text-align-right" [routerLink]="['/wasteManagement/rdf/createRdf']">
                    <span class="material-icons">add</span>
                    Add RDF
                </button>
            </mat-card-header>
          </div>
        <!-- <mat-card-header>
            <mat-form-field class="col-md-3 text-align-start" appearance="fill">
                <mat-label>Columns</mat-label>
                <mat-select [formControl]="selection" multiple>
                  <mat-option *ngFor="let column of tableColumn" [value]="column" (click)="selectingColumns()">
                    {{column | formControl}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <button mat-raised-button class="text-align-right" [routerLink]="['/wasteManagement/rdf/createRdf']">
                <span class="material-icons">add</span>
                Add STP
            </button>
        </mat-card-header> -->
        <mat-card-content class="mat-elevation-z4 mt-2">
            <table mat-table [dataSource]="rdfData" [hiddenColumns]="[10]" matTableExporter
            #exporter="matTableExporter" #stpDataSort="matSort" matSort>

                <ng-container matColumnDef="txtBranchName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
                    <td mat-cell *matCellDef="let element">{{element?.txtBranchName}}</td>
                </ng-container>

                <ng-container matColumnDef="txtLocationName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Union Council </th>
                    <td mat-cell *matCellDef="let element">{{element?.txtLocationName}}</td>
                </ng-container>

                <ng-container matColumnDef="txtSegregatedRecieved">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Segregated Recieved </th>
                    <td mat-cell *matCellDef="let element">{{element?.txtSegregatedRecieved}}</td>
                </ng-container>

                <ng-container matColumnDef="txtPalletProduced">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pallet Produced </th>
                    <td mat-cell *matCellDef="let element">{{element?.txtPalletProduced}}</td>
                </ng-container>

                <ng-container matColumnDef="txtRdfSold">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RDF Sold </th>
                    <td mat-cell *matCellDef="let element">{{element?.txtRdfSold}}</td>
                </ng-container>

                <ng-container matColumnDef="txtRate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                    <td mat-cell *matCellDef="let element">{{element?.txtRate}}</td>
                </ng-container>

                <ng-container matColumnDef="txtVendor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
                    <td mat-cell *matCellDef="let element">{{element?.txtVendor}}</td>
                </ng-container>
                <ng-container matColumnDef="numAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                    <td mat-cell *matCellDef="let element" class="tableNumericValue">{{element?.numAmount}}</td>
                </ng-container>
                <ng-container matColumnDef="numRdfBalance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>RDF Balance</th>
                    <td mat-cell *matCellDef="let element" class="tableNumericValue">{{element?.numRdfBalance}}</td>
                </ng-container>

                <ng-container matColumnDef="dteRdf">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
                    <td mat-cell *matCellDef="let element">{{element?.dteRdf}}</td>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef> Actions</th>
                    <td mat-cell *matCellDef="let element" class="p-0 pt-2" style="white-space: pre;">
                        <mat-icon matTooltip="View" class="btnView ml-2"
                        [routerLink]="['/wasteManagement/rdf/viewRdf',element.serRdfId]">remove_red_eye</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="rdfDataColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: rdfDataColumn;">
                </tr>
            </table>
            <mat-paginator #rdfDataPaginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
            <button mat-raised-button mat-flat-button class="ml-2" (click)="downloadPDF()"><span
                    class="material-icons pb-1 pr-1">download</span>Download
                Rdf List</button>
                <button class="ml-3" mat-raised-button mat-flat-button
      (click)="exporter.exportTable('xlsx', {fileName:'Rdf', sheet: 'sheet'})">
      <span class="material-icons pb-1 pr-1">download</span>Download Excel
    </button>
        </mat-card-content>

    </mat-card> 
</div>