<div class="main">
    <mat-card class="card mat-elevation-z8 m-0 p-0 pb-2">
        <mat-card-header class="matCardHeader">
            General Operation Details
        </mat-card-header>
        <mat-card-content class="m-0" style="justify-content: center !important; padding: 25px 0px 0px 30px;">

            <div class="row col-md-12">
                <table class="testTable">
                    <tr>
                        <th>
                            <h6>Zone/Branch:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.txtBranchName }}</td>
                        <th>
                            <h6>Union Council:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.txtLocationName }}</td>
                    </tr>
                    <tr>
                        <th>
                            <h6> Period:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.txtMonth }}</td>
                        <th>
                            <h6> No of Bill Distributed:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numOfBillDistributed }}</td>
                    </tr>
                    <tr>
                        <th>
                            <h6> RPC Manholes Repair:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriMhRepaired }}</td>
                        <th>
                            <h6> RCC Manholes Repair:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numSecMhRepaired }}</td>
                    </tr>
                    <tr>
                        <th>
                            <h6> IronGrit Manholes Repair:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numTerMhRepaired }}</td>
                        <th>
                            <h6>Sewerage Lines Repair(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriSewerageLinesRepaired }}</td>
                    </tr>
                    <tr>
                        <th>
                            <h6> Secondary Drainage Lines Desilation:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numSecDrainageLinesDiscelitation }}</td>
                        <th>
                            <h6>Street Drain Repair(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriDistributionLinesRepaired }}</td>
                    </tr>
                    <tr>
                        <th>
                            <h6>Street Drain Cleaned(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriDistributionLinesCleaned }}</td>
                        <th>
                            <h6> Street Drain Desilation:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriDistributionLinesDiscelitation }}</td>
                    </tr>
                    <tr>
                        <th>
                            <h6>Primary Drainage Lines Repair(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriDrainageLinesRepaired }}</td>
                        <th>
                            <h6> Secondary Sewerage Lines Repaired:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numSecSewerageLineRepaired }}</td>
                    </tr>
                    <tr>
                        <th>
                            <h6>Secondary Drainage Lines Repair:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numSecDrainageLinesRepaired }}</td>
                        <th>
                            <h6>Secondary Drainage Lines Cleaned:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numSecDrainageLinesCleaned }}</td>
                    </tr>
                   
                    <!-- <tr>
                        <th>
                            <h6>RCC Manholes Cleaned(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numSecMhCleaned }}</td>
                        <th>
                            <h6> IronGrit Manholes Cleaned(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numTerMhCleaned }}</td>
                    </tr> -->
                    <tr>
                        <th>
                            <h6>Primary Sewerage Lines Cleaned:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriSewerageLinesCleaned }}</td>
                        <th>
                            <h6>Primary Drainage Lines Cleaned(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriDrainageLinesCleaned }}</td>
                    </tr>
                    <tr>
                        <th>
                            <h6>Manholes Cleaned(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriMhCleaned }}</td>
                        <th>
                            <h6> Primary Sewerage Lines Desilation(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriSewerageLineDiscelitation }}</td>
                    </tr>
                  
                    <tr>
                        <th>
                            <h6>Secondary Sewerage Lines Cleaned:</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numSecSewerageLineCleaned }}</td>
                        <th>
                            <h6>Secondary Sewerage Lines Desilation(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numSecSewerageLineDiscelitation }}</td>
                    </tr>
                    <tr>
                        <th>
                            <h6>Primary Drainage Lines Desilation(km):</h6>
                        </th>
                        <td *ngFor="let item of viewData">{{ item?.numPriDrainageLinesDiscelitation }}</td>
                    </tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card-actions class="mt-2 mb-2">
        <div class="col d-flex justify-content-end ">
            <button mat-raised-button (click)="downloadPDF()"><span class="material-icons pb-1 pr-1">download</span>
                General Operation Detail</button>
            <button mat-raised-button class="ml-2 mr-2" [routerLink]="['/wasteManagement/generalOperation']"><span
                    class="material-icons pb-1 pr-1">close</span>Close</button>
        </div>
    </mat-card-actions>
</div>