<div class="main">
    <mat-expansion-panel class="card mat-elevation-z8" [expanded]="step === 0">
        <mat-expansion-panel-header>
            Maintenance
        </mat-expansion-panel-header>
        <form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()">
            <div class="row mt-3">
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Zone/Branch</mat-label>
                    <mat-select formControlName="serBranchId">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let branch of branchList" value="{{branch.id}}">
                            {{branch.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Union Council</mat-label>
                    <mat-select formControlName="serLocationId">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let UC of getBranchId" value="{{UC.id}}">
                            {{UC.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Line Type</mat-label>
                    <!-- (selectionChange)="change($event.value)" -->
                    <mat-select formControlName="txtLineType" >
                      <mat-option value="Sewerage">Sewerage</mat-option>
                      <mat-option value="Drainage">Drainage</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>M&R Reference Number</mat-label>
                    <input matInput formControlName="txtReferenceNumber" />
                  </mat-form-field>
                  <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Maintenance Date</mat-label>
                    <mat-date-range-input [rangePicker]="dteMaintenacne">
                        <input matStartDate formControlName="dteDateFrom" placeholder="Start date">
                        <input matEndDate formControlName="dteDateTo" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="dteMaintenacne"></mat-datepicker-toggle>
                    <mat-date-range-picker #dteMaintenacne></mat-date-range-picker>
                    <mat-error *ngIf="maintenanceForm.controls.dteDateFrom.hasError('matStartDateInvalid')">Invalid start date
                    </mat-error>
                    <mat-error *ngIf="maintenanceForm.controls.dteDateTo.hasError('matEndDateInvalid')">Invalid end date
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <div class="col pr-3 d-flex justify-content-end">
                    <button mat-raised-button type="submit" [disabled]="!maintenanceForm.valid"><span class="material-icons pt-1 pb-1 pr-1">search</span>Search
                    </button>
                    <button mat-raised-button class="ml-2"  (click)="onReset()">
                        <mat-icon class="material-icons mt-1 pr-1">refresh</mat-icon>Reset
                    </button>
                </div>
            </div>
        </form>
    </mat-expansion-panel>
    <mat-card class="mat-elevation-z8">
        <div class="row">
            <mat-form-field class="form-group col-md-3" appearance="fill">
                <mat-label>Columns</mat-label>
                <mat-select [formControl]="selection" multiple>
                    <!-- <mat-select-trigger>
                            {{selection.value ? selection.value[0] : ''}}
                            <span *ngIf="selection.value?.length > 1" class="example-additional-selection">
                              (+{{selection.value.length - 1}} {{selection.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger> -->
                    <mat-option *ngFor="let column of tableColumn" [value]="column" (click)="selectingColumns()">
                        {{column | formControl}}
                    </mat-option>
                    <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                </mat-select>
            </mat-form-field>

        </div>
        <mat-card-content class="mat-elevation-z2 mt-2 mb-1">
            <table mat-table matTableExporter #exporter="matTableExporter" [dataSource]="generalOperation" #generalOperationSort="matSort" matSort style="border: 1px solid #bababa;">
                <ng-container matColumnDef="serNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                    <td mat-cell *matCellDef="let element ; let i=index " class="tableNumericValue"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="branch">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone/Branch </th>
                    <td mat-cell *matCellDef="let element"> {{element.txtBranchName}} </td>
                </ng-container>
                <ng-container matColumnDef="unionCouncil">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Union Council </th>
                    <td mat-cell *matCellDef="let element"> {{element.txtLocationName}} </td>
                </ng-container>

                <ng-container matColumnDef="txtLine">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Line Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.txtLineType}} </td>
                </ng-container>
                <ng-container matColumnDef="numDiameter">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Diameter </th>
                    <td mat-cell *matCellDef="let element"> {{element.numDiameter}} </td>
                </ng-container>
                <ng-container matColumnDef="numLength">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Length </th>
                    <td mat-cell *matCellDef="let element"> {{element.numLength}} </td>
                </ng-container>
                <ng-container matColumnDef="txtMaterial">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Material </th>
                    <td mat-cell *matCellDef="let element"> {{element.txtMaterial}} </td>
                </ng-container>

                <ng-container matColumnDef="txtMaintainanceReferenceNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.txtMaintainanceReferenceNo}} </td>
                </ng-container>
                <ng-container matColumnDef="numTotalWaterComplaints">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Water Complaints</th>
                    <td mat-cell *matCellDef="let element" class="tableNumericValue"> {{element.numTotalWaterComplaints}} </td>
                </ng-container>
                <ng-container matColumnDef="txtCategory">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let element" class="tableNumericValue"> {{element.txtCategory}} </td>
                </ng-container>


                <ng-container matColumnDef="dteInstallationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Installation Date</th>
                    <td mat-cell *matCellDef="let element" class="tableNumericValue"> {{element.dteInstallationDate}} </td>
                </ng-container>
                <ng-container matColumnDef="dteMaintainanceDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Maintenance Date</th>
                    <td mat-cell *matCellDef="let element" class="tableNumericValue"> {{element.dteMaintainanceDate}} </td>
                </ng-container>
                <ng-container matColumnDef="txtArea">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Area</th>
                    <td mat-cell *matCellDef="let element" class="tableNumericValue"> {{element.txtArea}} </td>
                </ng-container>
               
                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef> Actions</th>
                    <td mat-cell *matCellDef="let element">

                        <!-- <mat-icon matTooltip="View" (click)="onView(element)" class="btnView">remove_red_eye</mat-icon> -->
                        <mat-icon matTooltip="Edit" (click)="openEditModel(element)" class="btnEdit pl-1">edit</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="generalOperationColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: generalOperationColumns;">
                </tr>
                <!-- <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No Record Found</td>
                    </tr>             -->
            </table>
        </mat-card-content>
        <mat-paginator #generalOperationPaginator [pageSizeOptions]="[10, 20,50]" showFirstLastButtons></mat-paginator>
        <!-- <button mat-raised-button mat-flat-button (click)="downloadPDF()"><span class="material-icons pb-1 pr-1">download</span>
            General Operation List</button>
            <button class="ml-3" mat-raised-button mat-flat-button (click)="exporter.exportTable('xlsx', {fileName:'General Operation', sheet: 'sheet'})">
                    <span class="material-icons pb-1 pr-1">download</span>Download Excel
                </button> -->
    </mat-card>
</div>