<div class="main">
    <mat-expansion-panel class="card mat-elevation-z8" [expanded]="step === 0">
        <mat-expansion-panel-header>
            HouseHold & Population
        </mat-expansion-panel-header>
        <form [formGroup]="searchHouseholdAndPopulationForm" >
            <div class="row mt-3">
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Zone/Branch</mat-label>
                    <mat-select formControlName="serBranchId">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let branch of branchList" value="{{branch.id}}">
                            {{branch.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3" appearance="outline">
                    <mat-label>Union Council</mat-label>
                    <mat-select formControlName="serLocationId">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let UC of getBranchId" value="{{UC.id}}">
                            {{UC.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <div class="col pr-3 d-flex justify-content-end">
                    <button mat-raised-button (click)=" onSearch()"><span class="material-icons pt-1 pb-1 pr-1">search</span>Search
                    </button>
                    <button mat-raised-button class="ml-2" (click)="onReset()">
                        <mat-icon class="material-icons mt-1 pr-1">refresh</mat-icon>Reset
                    </button>
                </div>
            </div>
           
        </form>
    </mat-expansion-panel>
    <mat-card class="mat-elevation-z8">
            <div class="row">
                    <mat-form-field class="form-group col-md-3" appearance="fill">
                        <mat-label>Columns</mat-label>
                        <mat-select [formControl]="selection" multiple>
                          <!-- <mat-select-trigger>
                            {{selection.value ? selection.value[0] : ''}}
                            <span *ngIf="selection.value?.length > 1" class="example-additional-selection">
                              (+{{selection.value.length - 1}} {{selection.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger> -->
                          <mat-option *ngFor="let column of tableColumn" [value]="column" (click)="selectingColumns()">
                            {{column | formControl}}
                          </mat-option>
                          <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                        </mat-select>
                      </mat-form-field >
                     
                </div>
        <mat-card-content class="mat-elevation-z2 mt-2 mb-1">
            <table mat-table matTableExporter #exporter="matTableExporter" [dataSource]="houseHold" #houseHoldSort="matSort" matSort style="border: 1px solid #bababa;">
                <ng-container matColumnDef="serBranchId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone/Branch </th>
                    <td mat-cell *matCellDef="let element"> {{element.txtBranchName}} </td>
                </ng-container>
                <ng-container matColumnDef="unionCouncil">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Union Council </th>
                    <td mat-cell *matCellDef="let element"> {{element.txtLocationName}} </td>
                </ng-container>
                <ng-container matColumnDef="numOfPrimaryMainholes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No Of RPC Manholess </th>
                    <td mat-cell *matCellDef="let element"  class="tableNumericValue"> {{element.numTotalMainholes}} </td>
                </ng-container>
                <ng-container matColumnDef="numOfSecondaryMainholes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No Of RCC Manholes </th>
                    <td mat-cell *matCellDef="let element"  class="tableNumericValue"> {{element.numTotalSecMainholes}} </td>
                </ng-container>
                <ng-container matColumnDef="numOfTeriaryMainholes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No Of IronGrid Manholes </th>
                    <td mat-cell *matCellDef="let element"  class="tableNumericValue"> {{element.numTotalTerMainholes}} </td>
                </ng-container>
                <ng-container matColumnDef="numTotalSewerageLines">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Primary Sewerage Lines (km) </th>
                    <td mat-cell *matCellDef="let element"  class="tableNumericValue"> {{element.numTotalSewerageLines}} </td>
                </ng-container>
                <ng-container matColumnDef="numDrainageLines">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Primary Drainage Lines (km) </th>
                    <td mat-cell *matCellDef="let element"  class="tableNumericValue"> {{element.numPriDrainageLines}} </td>
                </ng-container>
                <ng-container matColumnDef="numTotalSecondarySewerageLines">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Secondary Sewerage Lines (km) </th>
                        <td mat-cell *matCellDef="let element"  class="tableNumericValue"> {{element.numTotalSecondarySewerageLines}} </td>
                    </ng-container>
                
                
                <ng-container matColumnDef="numTotalHouseHold">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total HouseHold </th>
                    <td mat-cell *matCellDef="let element" class="tableNumericValue"> {{element.numTotalHouseHold}} </td>
                </ng-container>
                <ng-container matColumnDef="avgMemberPerHouse">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Average Member/House</th>
                    <td mat-cell *matCellDef="let element" class="tableNumericValue">
                        <span *ngIf="!element.numTotalHouseHold  || !element.numTotalPopulation">0</span>
                        <span *ngIf="element.numTotalHouseHold  && element.numTotalPopulation">{{(element.numTotalPopulation
                            /element.numTotalHouseHold) | number:'1.0' }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="totalPopulation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Population</th>
                    <td mat-cell *matCellDef="let element"  class="tableNumericValue"> {{element.numTotalPopulation}} </td>
                </ng-container>
                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef> Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="View" [routerLink]="['/operationManagement/householdAndPopulationRecord/viewHHAndPopulationRecord',element.serPopulationId]"
                        class="btnView ml-2" >remove_red_eye</mat-icon>
                        <mat-icon matTooltip="Edit" class="btnEdit pl-1"
                            [routerLink]="['/operationManagement/householdAndPopulationRecord/editHHAndPopulationRecord',element.serPopulationId]">edit</mat-icon>
                        <!-- <button class="ml-2" mat-raised-button  [routerLink]="['/operationManagement/householdAndPopulationRecord/editHHAndPopulationRecord']" >Cancel</button> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="houseHoldColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: houseHoldColumns;">
                </tr>
                <div *ngIf="!isLoading">
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No Record Found</td>
                    </tr>
                </div>
            </table>
            <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white; margin-top: 5PX">
                <mat-progress-spinner class="spinnerClr" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </mat-card-content>
        <mat-paginator #houseHoldPaginator [pageSizeOptions]="[10, 20,50]" showFirstLastButtons></mat-paginator>
        <button mat-raised-button mat-flat-button (click)="downloadPDF()"><span class="material-icons pb-1 pr-1">download</span>
            HouseHold & Population List</button>
            <button class="ml-3" mat-raised-button mat-flat-button (click)="exporter.exportTable('xlsx', {fileName:'HouseHold & Population', sheet: 'sheet'})">
                    <span class="material-icons pb-1 pr-1">download</span>Download Excel
                </button>
    </mat-card>
</div>